html {
  box-sizing: border-box;
}

.component {
  position: relative;
  text-align: center;
  padding: 160px;
}

p {
  font-size: 80px;
  vertical-align: middle
}

button {
  font-size: 40px; 
  background-color: #47b549;
  vertical-align: middle;
  color: #ffffff;
}

.decrease {
  background-color: #c43642;
  margin-right: 12px;
}